@charset "UTF-8";
/*
    ----------------------------------
    [Table of contents] 

    1. Default body styles
    2. Headings
    3. Anchors
    4. Button styles
    5. Header
    6. Main Header
    7. Main navigation
    8. City Results
    9. Sidebar & Filters
    10. Products/Items
    11. Scroll to top
    12. Footer
    13. Wave background
    14. Search Form
    15. Weather Cards
    16. Media Queries
    17. 0ther
  
    ----------------------------------
    Note to reviewer:
    I'm recycling some of these styles from a previous project I created.
    I don't want to reinvent the style wheel if I don't have to.
    I'm hoping recycling my own code doesn't count as "plagarism"... since I'm referencing myself. 
    ----------------------------------
 */

/*  
    ----------------------------------
    1. Default body styles
    ----------------------------------
*/
* {
    outline: none;
}

body {
    background-color: #cfcfcf;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #666666;
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

body .wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

@media (min-width: 1366px) {
    body .wrapper {
        width: 96%;
        max-width: 1600px;
    }
}

@media (max-width: 767px) {
    body .wrapper {
        overflow: hidden;
    }
}

b,
strong,
label,
.label {
    font-weight: 500;
}

.container {
    padding: 0;
}

@media print {
    .container {
        width: 100% !important;
    }
}

.row.row-clean {
    margin: 0;
}

.row.row-clean>div {
    padding: 0;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*  
    ----------------------------------
    2. Headings
    ----------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
    margin-top: 0;
}

h1,
.h1 {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {

    h1,
    .h1 {
        font-size: 34px;
        margin-top: 6px;
        margin-bottom: 6px;
        padding-top: 10px;
    }
}

h2,
.h2 {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {

    h2,
    .h2 {
        font-size: 21px;
        margin-top: 26.66667px;
        margin-bottom: 10px;
    }
}

h3,
.h3 {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {

    h3,
    .h3 {
        font-size: 26px;
        margin-top: 26.66667px;
        margin-bottom: 26.66667px;
    }
}

h4,
.h4 {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {

    h4,
    .h4 {
        font-size: 22px;
        margin-top: 26.66667px;
        margin-bottom: 26.66667px;
    }
}

h5,
.h5 {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {

    h5,
    .h5 {
        font-size: 18px;
        margin-top: 26.66667px;
        margin-bottom: 26.66667px;
    }
}

h6,
.h6 {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 992px) {

    h6,
    .h6 {
        font-size: 14px;
        margin-top: 26.66667px;
        margin-bottom: 26.66667px;
    }
}

/*  
    ----------------------------------
    3. Anchors
    ----------------------------------
*/
a {
    color: #3a3d45;
}

a:focus,
a:active,
a:hover {
    color: #666666;
    text-decoration: none;
}

a,
.btn {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media print {

    a[href]:after,
    abbr[title]:after,
    a[href^="#"]:after {
        content: none !important;
    }
}

/* iPad fix */
input,
textarea,
select {
    -webkit-appearance: none;
    /*disable shaddow nav ipad*/
    -moz-appearance: none;
    /*disable shaddow nav ipad*/
    border-radius: 0;
    /*disable border-radius ipad*/
}

select {
    padding-right: 22px !important;
    background-image: url(img/select.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 10px;
}

/*  
    ----------------------------------
    4. Button styles
    ----------------------------------
*/
.btn {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .btn {
        padding: 8px 16px;
    }

    .btn.btn-main {
        width: 30% !important;
    }

}

.btn.btn-main {
    background-color: #2C3039;
    width: 20%;
}

.btn.btn-main:hover {
    background-color: #3a3d45;
}

.btn.btn-main,
.btn.btn-main:hover,
.btn.btn-main:focus,
.btn.btn-main:active {
    color: #fff;
}

.btn.btn-clean {
    background-color: transparent;
    border-color: white;
    color: white !important;
}

.btn.btn-clean:hover {
    background-color: white;
    border-color: white;
    color: black !important;
}

.btn.btn-clean-dark {
    background-color: transparent;
    border-color: rgba(58, 61, 69, 0.5);
    color: #3a3d45 !important;
}

.btn.btn-clean-dark:hover {
    background-color: #3a3d45;
    border-color: #3a3d45;
    color: white !important;
}

.btn.btn-add {
    background: #2e73bb;
    position: absolute;
    overflow: hidden;
    color: white;
    bottom: 10px;
    right: 10px;
    border: 0;
    width: 50px;
    height: 50px;
    font-size: 19px;
    cursor: pointer;
    z-index: 9;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.btn.btn-add:hover {
    color: white;
}

.btn.btn-add:hover:before {
    background-color: #000000;
}

.btn.btn-add .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn.btn-buy {
    background-color: #2e73bb;
    color: white;
    position: absolute;
    padding: 0;
    right: 10px;
    top: 0;
    width: 80px;
    height: 80px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 20;
}

.btn.btn-buy:after,
.btn.btn-buy:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 80px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-buy:before {
    font-family: 'LinearIcons';
    content: "\e82e";
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.btn.btn-buy:after {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    content: attr(data-text);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.btn.btn-buy:hover:before {
    font-family: 'LinearIcons';
    content: "\e82e";
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.btn.btn-buy:hover:after {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*  
    ----------------------------------
    5. Header
    ----------------------------------
*/
header {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eeeeee;
    position: relative;
}

header .row {
    margin: 0;
}

header:before {
    content: '';
    position: absolute;
    border-width: 20px 20px 0px 20px;
    border-style: solid solid solid solid;
    border-color: #eeeeee transparent #eeeeee;
    bottom: -15px;
    left: 50%;
    z-index: 2;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header .title {
    margin-top: 0;
    margin-bottom: 5px;
    color: #3a3d45;
    z-index: 1;
    position: relative;
}

header .title:last-child {
    margin-bottom: 0;
}

header .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

header .subtitle {
    text-transform: none;
}

header .text p:last-child {
    margin-bottom: 0;
}


@media (min-width: 768px) {
    header {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) {
    header {
        padding-top: 10px;
        padding-bottom: 40px;
    }
}


/*  
    ----------------------------------
    6. Main Header
    ----------------------------------
*/
.main-header header,
.main-header .title {
    color: white;
}

.main-header .container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
}

.main-header header {
    padding-bottom: 10px;
    background-color: #787878;
    background-size: cover;
    background-position: center;
}

.main-header header:before {
    display: none;
}

.main-header.main-header-lg header {
    padding-top: 100px;
}

.main-header.main-header-lg header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

@media (min-width: 992px) {
    .main-header.main-header-lg header {
        padding-top: 200px;
    }

    .main-header.main-header-blog header {
        padding-bottom: 100px;
    }
}

@media print {
    .main-header {
        padding: 40px 0 !important;
    }
}

/*  
    ----------------------------------
    7. Main navigation
    ----------------------------------
*/
nav {
    background-color: white;
    position: relative;
    z-index: 999;
    width: 100%;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media print {
    nav {
        display: none !important;
    }
}

nav.navbar-fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
}

/* FIX PORTAL HEADER */
.portal-header {
    text-align: center;
    padding: 15px;
}

/* ASSIGN SIZE TO LOGO IMAGES */
.portal-header img {
    height: 40px;
}

/* SEARCH OUR CATALOG TEXT  */
.search-text {
    text-transform: none;
    font-size: 14px;
    padding-right: 15px;
}

.no-exchange-message-right {
    width: 100%;
}

.no-exchange-message-left {
    display: none;
}

nav.navbar-default {
    position: relative;
    background-color: transparent;
}

nav.navbar-sticked .navigation-top>ul {
    height: 0;
    border: 0;
}

nav.navbar-sticked .navigation-main {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav .container,
nav .navigation {
    position: relative;
}

nav .logo {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    left: 0;
    top: 0;
    border: 0;
    z-index: 10;
}

nav .logo img {
    height: 55px;
}

@media (min-width: 992px) {
    nav .logo {
        left: 50%;
        top: 35px;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    nav .logo img {
        width: auto;
        height: auto;
    }
}

nav .navigation ul,
nav .navigation ul li {
    margin: 0;
    padding: 0 5px;
}

nav .navigation ul li {
    list-style-type: none;
}

nav .navigation>ul>li,
nav .navigation>ul>li>a {
    display: inline-block;
}

nav .navigation>ul>li>a {
    padding: 14px 20px;
}

nav .navigation>ul>li.active a,
nav .navigation>ul>li.active a:hover {
    color: #7b7b7b;
}

nav .navigation-pre {
    display: none;
    background-color: #2e73bb;
    color: white;
    text-align: center;
    font-size: 11px;
}

nav .navigation-pre .row {
    margin: 0;
}

nav .navigation-pre .row>div {
    padding: 0;
}

nav .navigation-pre a {
    color: white;
    padding: 10px;
    display: block;
}

nav .navigation-pre a:hover {
    background-color: #245a92;
}

@media (min-width: 992px) {
    nav .navigation-pre {
        display: block;
    }
}

nav .navigation-top {
    display: block;
    border-bottom: 1px solid #e0e0e0;
}

nav .navigation-top>ul {
    text-align: right;
    height: 75px;
    overflow: hidden;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

nav .navigation-top>ul .left-side {
    float: left;
    vertical-align: baseline;
}

nav .navigation-top>ul .left-side.active a {
    background-color: #e0e0e0;
}

nav .navigation-top>ul .left-side>a {
    border-left: 0;
    border-right: 1px solid #e0e0e0;
    font-size: 12px;
}

nav .navigation-top>ul .left-side .logo-icon img {
    vertical-align: baseline;
}

.instruction-text {
    font-family: "Poppins", sans-serif;
    padding: 0 20px !important;
    line-height: 75px;
    font-size: 22px;
    float: left;
    vertical-align: baseline;
}

.instruction-subtitle {
    padding-left: 10px;
}

nav .navigation-top>ul>li>a {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    border-left: 1px solid #e0e0e0;
    padding: 0 20px;
    line-height: 75px;
    font-size: 22px;
}

nav .navigation-top .open-login {
    margin-left: 10px;
}

nav .navigation-main .open-cart,
nav .navigation-main .open-login,
nav .navigation-main .open-search,
nav .navigation-main .open-menu,
nav .navigation-main .close-menu-wrapper {
    display: none;
}

nav .navigation-main .open-dropdown {
    margin-left: 5px;
}

nav .navigation-main .floating-menu {
    background-color: white;
}

nav .navigation-main .floating-menu>ul>li>a {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

nav .navigation-main .navbar-dropdown .navbar-box .row>div {
    margin-bottom: 15px;
    margin-bottom: 0;
}

nav .navigation-main .navbar-dropdown .navbar-box ul {
    margin-bottom: 60px;
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li {
    padding: 0;
    list-style-type: none;
    margin-bottom: 5px;
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li.label {
    padding: 5px 0;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 6px;
    font-weight: normal;
    color: #2e73bb;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@media (min-width: 992px) {
    nav .navigation-main .navbar-dropdown .navbar-box ul>li.label {
        font-size: 18px;
        color: white;
        margin-bottom: 12px;
    }
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li.more a {
    font-size: 10px;
    color: #8fc4ff;
    text-transform: uppercase;
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li.more a .icon {
    font-size: 6px;
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li>a {
    color: white;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #3078c3;
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li>a span.label {
    padding: 2px 4px;
    vertical-align: super;
    font-size: 55%;
}

@media (min-width: 992px) {
    nav .navigation-main .navbar-dropdown .navbar-box ul>li>a:hover {
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
}

nav .navigation-main .navbar-dropdown .navbar-box ul>li:last-child>a {
    border-bottom: 0;
}

@media (min-width: 992px) {

    nav .navigation .floating-menu>ul>li,
    nav .navigation .floating-menu>ul>li>a {
        display: inline-block;
    }

    nav .navigation .logo {
        position: absolute;
        z-index: 1;
    }

    nav .navigation-top {
        display: block;
    }

    nav .navigation-main .floating-menu>ul {
        position: relative;
        border-bottom: 0px solid #CCC;
    }

    nav .navigation-main .floating-menu>ul>li>a {
        padding: 20px 15px;
    }

    nav .navigation-main .floating-menu>ul>li.nav-settings {
        float: right;
    }

    nav .navigation-main .floating-menu>ul>li.nav-settings ul li {
        cursor: pointer;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown {
        display: none;
        position: absolute;
        overflow: hidden;
        color: white;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        text-align: left;
        z-index: 9999;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box {
        display: table;
        width: 100%;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box .image img {
        width: 100%;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box>div {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box .box-sm {
        width: 40%;
        background-color: #245a92;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box .box-lg {
        width: 60%;
        background-color: #2e73bb;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box .box-full {
        background-color: #2e73bb;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box .box {
        padding: 40px;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .navbar-box ul {
        width: 100%;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown.navbar-dropdown-single {
        width: auto;
        right: auto;
        left: auto;
        max-width: 250px;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown.navbar-dropdown-single .navbar-box {
        min-height: inherit;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown.navbar-dropdown-single .navbar-box .box {
        padding: 20px;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown.navbar-dropdown-single .navbar-box ul:last-child {
        margin-bottom: 0;
    }

    nav .navigation-main .floating-menu>ul>li .navbar-dropdown .btn {
        margin-top: 20px;
    }

    nav .navigation-main .floating-menu>ul>li.active a:hover {
        color: #2e73bb;
    }

    nav .navigation-main .floating-menu>ul>li:hover {
        background-color: #2e73bb;
    }

    nav .navigation-main .floating-menu>ul>li:hover a {
        color: white;
    }

    nav .navigation-main .floating-menu>ul>li:hover .navbar-dropdown {
        display: block;
    }
}

@media (min-width: 1200px) {
    nav .navigation-main .floating-menu>ul {
        padding-left: 100px;
    }
}

@media (max-width: 991px) {
    nav {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav.navbar-fixed {
        position: absolute;
        background-color: black;
    }

    nav .container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    nav .navigation-main {
        height: 55px;
    }

    nav .navigation-main .open-cart,
    nav .navigation-main .open-login,
    nav .navigation-main .open-search,
    nav .navigation-main .open-menu,
    nav .navigation-main .close-menu-wrapper {
        display: block;
    }

    nav .navigation-main .open-cart,
    nav .navigation-main .open-login,
    nav .navigation-main .open-search,
    nav .navigation-main .open-menu {
        position: absolute;
        top: 0px;
        right: 0;
        width: 40px;
        height: 100%;
        text-align: center;
        border-left: 1px solid #dcdcdc;
    }

    nav .navigation-main .open-cart .icon,
    nav .navigation-main .open-login .icon,
    nav .navigation-main .open-search .icon,
    nav .navigation-main .open-menu .icon {
        font-size: 15px;
        line-height: 58px;
    }

    nav .navigation-main .open-login {
        right: 40px;
    }

    nav .navigation-main .open-cart {
        right: 80px;
    }

    nav .navigation-main .open-search {
        right: 120px;
    }

    nav .navigation-main .floating-menu {
        position: absolute;
        padding: 0 10px;
        z-index: 9999;
        width: 100%;
        top: 0;
        right: 0;
        left: auto;
        background-color: #2e73bb;
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    nav .navigation-main .floating-menu.expanded,
    nav .navigation-main .floating-menu.expanded .close-menu {
        display: block;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    nav .navigation-main .floating-menu.expanded>ul>li {
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    nav .navigation-main .floating-menu .navbar-dropdown {
        display: none;
        background-color: #3078c3;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    nav .navigation-main .floating-menu>ul {
        overflow: hidden;
    }

    nav .navigation-main .floating-menu>ul>li {
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(1) {
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(2) {
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(3) {
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(4) {
        -moz-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(5) {
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(6) {
        -moz-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(7) {
        -moz-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(8) {
        -moz-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(9) {
        -moz-transition-delay: 0.9s;
        -o-transition-delay: 0.9s;
        -webkit-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(10) {
        -moz-transition-delay: 1s;
        -o-transition-delay: 1s;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(11) {
        -moz-transition-delay: 1.1s;
        -o-transition-delay: 1.1s;
        -webkit-transition-delay: 1.1s;
        transition-delay: 1.1s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(12) {
        -moz-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(13) {
        -moz-transition-delay: 1.3s;
        -o-transition-delay: 1.3s;
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(14) {
        -moz-transition-delay: 1.4s;
        -o-transition-delay: 1.4s;
        -webkit-transition-delay: 1.4s;
        transition-delay: 1.4s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(15) {
        -moz-transition-delay: 1.5s;
        -o-transition-delay: 1.5s;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(16) {
        -moz-transition-delay: 1.6s;
        -o-transition-delay: 1.6s;
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(17) {
        -moz-transition-delay: 1.7s;
        -o-transition-delay: 1.7s;
        -webkit-transition-delay: 1.7s;
        transition-delay: 1.7s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(18) {
        -moz-transition-delay: 1.8s;
        -o-transition-delay: 1.8s;
        -webkit-transition-delay: 1.8s;
        transition-delay: 1.8s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(19) {
        -moz-transition-delay: 1.9s;
        -o-transition-delay: 1.9s;
        -webkit-transition-delay: 1.9s;
        transition-delay: 1.9s;
    }

    nav .navigation-main .floating-menu>ul>li:nth-child(20) {
        -moz-transition-delay: 2s;
        -o-transition-delay: 2s;
        -webkit-transition-delay: 2s;
        transition-delay: 2s;
    }

    nav .navigation-main .floating-menu>ul>li>a {
        color: white;
        display: block;
        border-bottom: 1px solid #3078c3;
        padding: 15px 0;
        position: relative;
    }

    nav .navigation-main .floating-menu>ul>li .open-dropdown {
        position: absolute;
        display: block;
        width: 40px;
        height: 100%;
        right: 0;
        top: 0;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
    }

    nav .navigation-main .floating-menu>ul>li .open-dropdown .fa:before {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: inline-block;
    }

    nav .navigation-main .floating-menu>ul>li.expanded .open-dropdown .fa:before {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    nav .navigation-main .close-menu-wrapper {
        height: 50px;
        border-bottom: 1px solid #3078c3;
    }

    nav .navigation-main .close-menu {
        cursor: pointer;
        display: block;
        height: 50px;
        width: 50px;
        float: right;
        background-size: auto 50px;
        background-position: 100% center;
        background-repeat: no-repeat;
        color: white;
        text-align: right;
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    nav .navigation-main .close-menu .icon {
        font-size: 26px;
        line-height: 50px;
        padding-right: 8px;
    }

    nav .navigation-main .navbar-dropdown .box-1 {
        display: none;
    }

    nav .navigation-main .navbar-dropdown ul {
        margin: 20px 0;
        padding: 0;
    }

    nav .navigation-main .navbar-dropdown .navbar-box ul {
        margin-bottom: 15px;
    }

    nav .navigation-main .navbar-dropdown .navbar-box ul>li>a {
        border-color: #3078c3;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    nav .navigation-main .navbar-dropdown .navbar-box ul>li.label {
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
    }
}

nav .open-login,
nav .open-cart,
nav .open-search {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

nav .open-login.open .icon:before,
nav .open-cart.open .icon:before,
nav .open-search.open .icon:before {
    content: "\e870";
}

nav .open-cart {
    position: relative;
}

nav .open-cart span {
    background-color: #cc0000;
    color: white;
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 15px;
    right: 4px;
    top: 5%;
    text-align: center;
    font-size: 10px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

nav .search-wrapper {
    position: absolute;
    background: white;
    top: 145px;
    right: 0;
    left: 0;
    z-index: 9999;
    padding: 0;
}

nav .search-wrapper .form-control {
    padding-top: 20px;
    padding-bottom: 20px;
    height: inherit;
    height: 60px;
    border-color: transparent;
    background-color: #e0e0e0;
}

nav .search-wrapper .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav .search-wrapper .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 991px) {
    nav .search-wrapper {
        left: 0;
        right: 0;
    }
}

nav .login-wrapper {
    width: 100%;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: inline-block;
    text-align: left;
    padding: 20px;
    top: 111px;
    left: auto;
    right: 0;
    z-index: 999;
}

nav .login-wrapper .btn {
    margin-top: 20px;
}

nav .login-wrapper a {
    display: block;
    font-size: 12px;
}

@media (min-width: 768px) {
    nav .login-wrapper {
        max-width: 300px;
    }
}

nav .cart-wrapper {
    position: absolute;
    width: 100%;
    top: 111px;
    right: 0;
    padding: 7.5px;
    max-width: 500px;
    background: #eeeeee;
    border: 1px solid #e0e0e0;
    border-top: 0;
    overflow: hidden;
}

nav .cart-wrapper .checkout {
    padding: 0 15px;
    opacity: 0;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

nav .cart-wrapper .checkout hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav .cart-wrapper .checkout .cart-block {
    padding: 10px;
    margin-bottom: 10px;
}

nav .cart-wrapper .checkout .cart-block>div.quantity {
    padding: 5px 0;
    text-align: left;
}

nav .cart-wrapper .checkout .cart-block>div.quantity .form-control {
    width: 60px;
    height: inherit;
}

nav .cart-wrapper .checkout .cart-block>div.price {
    padding-right: 10px;
}

nav .cart-wrapper .checkout .cart-block.cart-block-footer {
    padding: 5px 0;
    margin: 0;
    margin-bottom: 3px;
    width: 100%;
    background-color: transparent;
}

nav .cart-wrapper .checkout .cart-block.cart-block-footer>div {
    float: left;
    padding: 0;
}

nav .cart-wrapper .checkout .cart-block .icon-delete {
    padding: 2px;
}

nav .cart-wrapper .checkout .cart-block-buttons {
    margin: 20px 0;
}

nav .cart-wrapper.open .checkout {
    opacity: 1;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

nav .search-wrapper,
nav .login-wrapper,
nav .cart-wrapper {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

nav .search-wrapper.open,
nav .login-wrapper.open,
nav .cart-wrapper.open {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

@media (max-width: 991px) {

    nav .search-wrapper,
    nav .login-wrapper,
    nav .cart-wrapper {
        top: 55px;
        border-top: 1px solid #e0e0e0;
    }
}


/*  
    ----------------------------------
    8. City Results
    ----------------------------------
*/
#city-result-h2 {
    /* This identifier is strictly reserved for displaying the city result from search params */
}

#city-result-ul {
    /* This ID is strictly for city results in the sidebar */
}

#city-result-list-item {
    /* This ID is strictly for city results in the sidebar */
}

.sort-bar {
    border-bottom: 1px solid #e0e0e0;
    background-color: #eeeeee;
    font-size: 14px;
    font-size: x-large;
    margin-bottom: 15px;
}

.sort-bar select {
    background-color: white;
    padding: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
}

.sort-bar .grid-list {
    padding-right: 0 !important;
}

.sort-bar .grid-list a {
    background: white;
    color: #666666;
    padding: 5px 8px;
    display: inline-block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sort-bar .grid-list a:hover {
    background-color: #2e73bb;
    color: white;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.sort-bar strong {
    font-weight: 500;
    color: #616161;
}

.sort-bar a.toggle-filters-mobile {
    display: inline-block;
}

.sort-bar .sort-results>span {
    display: none;
    padding: 0 10px;
}

.sort-bar .sort-results>p {
    margin: 0px 13px 10px;
}

@media (min-width: 992px) {
    .sort-bar {
        padding: 10px 20px 0 10px;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .sort-bar:hover {
        opacity: 1;
    }

    .sort-bar .sort-results>span {
        display: inline-block;
    }

    .sort-bar a.toggle-filters-mobile {
        display: none;
    }
}

@media (max-width: 991px) {
    .sort-bar {
        background-color: white;
        margin-bottom: 1px;
        padding: 7.5px;
    }
}


/*  
    ----------------------------------
    9. Sidebar & Filters
    ----------------------------------
*/
/* Fixed Floating Sidebar  */
#sidebar-status {
    height: 100%;
    width: 14%;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-x: hidden;
}

/* ADD ADDITIONAL PADDING TO SIDEBAR DURING SCROLL */
.add-padding-top {
    top: 150px !important;
    bottom: 0;
}

.filters {
    /* background-color: #eeeeee; */
}

.filters .filter-box {
    border-bottom: 1px solid #e0e0e0;
}

.filters .product-category {
    cursor: pointer;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 20px
}

.filters .product-category li {
    text-decoration: none;
    list-style: none;
    line-height: 30px;
}

.filters .product-category li:hover {
    background-color: #cfcfcf;
    color: white;
}

.filters .active-category {
    font-weight: bold;
}

@media (min-width: 992px) {
    .filters .filter-box {
        border: 0;
        margin-bottom: 1px;
    }

    .filters .filter-box .title {
        padding: 20px;
        height: 71px;
        line-height: 31px;
    }

    .filters .filter-box .title:after {
        height: 71px;
        line-height: 71px;
    }
}

.filters .filter-content {
    display: none;
    padding: 10px;
    background-color: #f6f6f6;
}

.filters .filter-content .checkbox label {
    display: block;
}

.filters .filter-content i {
    font-style: normal;
    display: block;
    font-size: 70%;
    float: right;
    line-height: 28px;
    margin-right: 5px;
}

.filters .filter-content .product-colors {
    padding: 15px;
}

.filters .filter-content .product-colors .color-btn {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.filters.filters-top .filter-box {
    position: relative;
}

.filters.filters-top .filter-update {
    display: none;
}

@media (min-width: 992px) {
    .filters.filters-top {
        position: relative;
        line-height: 31px;
        background-color: transparent;
    }

    .filters.filters-top .filter-content {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 99;
        border: 1px solid #e4e4e4;
        margin: 0;
        max-height: 300px;
        overflow: auto;
    }

    .filters.filters-top .filter-update {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px 13.33333px;
        text-align: center;
        cursor: pointer;
        background-color: #232529;
        color: white;
        display: none;
    }

    .filters.filters-top .filter-box {
        margin-bottom: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .filters.filters-top .filter-box .title {
        padding: 20px;
        background-color: #eeeeee;
        height: auto;
    }

    .filters.filters-top .filter-box .title:hover {
        background-color: #3a3d45;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .filters.filters-top .filter-box .title:after {
        line-height: 71px;
        height: 100%;
    }

    .filters.filters-top .filter-box.active .title {
        background-color: #3a3d45;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .filters.filters-top .filter-box.active .filter-update {
        display: block;
    }
}

@media (max-width: 991px) {
    .filters.filters-top .container {
        padding: 0;
        width: 100%;
    }
}

.filters .toggle-filters-close {
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 991px) {
    .filters {
        background-color: white;
        position: fixed;
        width: 50%;
        height: 100%;
        z-index: 9999;
        top: 0;
        left: auto;
        right: 0;
        overflow: auto;
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .filters .row {
        margin: 0;
    }

    .filters .row>div {
        padding: 0;
    }

    .filters.active {
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .filters .toggle-filters-close {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

/*  
    ----------------------------------
    10. Products/Items
    ----------------------------------
*/
.products-fixed-footer-adjustment {
    margin-bottom: 100px;
}

/* SET PRODUCT ITEM IMAGE SIZE */
.product-image {
    max-width: 200px;
}

.products .container {
    background-color: white;
}

/* ADJUST THE ITEM CONTENT AREA WITH FIXED SIDEBAR */
#product-sidebar-toggle {
    width: 86%;
}

.products article {
    background-color: white;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 1px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    margin-left: -1px;
    margin-top: -2px;
}

.products article .label {
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: initial;
}

.products article sub,
.products article sup {
    font-size: 100%;
}

.products article .text {
    width: 100%;
    padding: 10px;
}

.products article .text a:hover {
    color: #333;
}

.products article .text .title {
    display: block;
    margin: 0 0 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.products article .text sub,
.products article .text sup {
    bottom: auto;
    top: auto;
    display: inline-block;
    margin-right: 10px;
}

.products article .text sub {
    text-decoration: line-through;
    font-weight: 300;
}

.products article .image {
    overflow: hidden;
    height: auto;
}

.products article .image a {
    display: block;
}

.products article .image img {
    width: 100%;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

@media (min-width: 768px) {
    .products article .image {
        padding: 80px 0;
    }
}

.products article .btn-add {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.products article:hover {
    box-shadow: 0 2px 120px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 22;
}

.products article:hover .btn-add {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.products article:hover .info>span {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.products article:hover .image img {
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

@media (min-width: 992px) {
    .products article:hover {
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}

.products article .info {
    display: none;
    position: absolute;
    width: 35px;
    right: 15px;
    top: 15px;
    margin-right: 0;
    margin-top: 5px;
    z-index: 3;
}

.products article .info .add-favorite.added {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.products article .info .add-favorite.added a {
    background-color: #e71d36;
}

.products article .info .add-favorite.added a:hover:after {
    content: attr(data-title-added);
    background-color: inherit;
}

.products article .info a {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    background-color: dimgray;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    .products article .info a {
        margin-bottom: 10px;
    }
}

.products article .info a:hover {
    background-color: #000000;
    color: white;
}

.products article .info a:hover:after {
    position: absolute;
    content: attr(data-title);
    padding: 5px 6px;
    right: 110%;
    top: 3px;
    white-space: nowrap;
    z-index: 20;
    background-color: #000000;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    line-height: normal;
}

.products article .info>span {
    display: block;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

@media (min-width: 992px) {
    .products article .info {
        display: block;
    }
}

.products article .info>span:nth-child(1) {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.products article .info>span:nth-child(2) {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.products article .info>span:nth-child(3) {
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.products article .figure-list {
    display: table;
    width: 100%;
}

.products article .figure-list .image,
.products article .figure-list .text {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

@media (min-width: 992px) {
    .products article .figure-list .image {
        padding: 0;
    }
}

.products article .figure-list .text {
    position: relative;
    padding: 0 20px;
}

.products article .figure-list .text .title {
    white-space: inherit;
}

.products article .figure-list .text .description {
    display: none;
    margin-top: 15px;
}

.products article .figure-grid .text .description {
    display: none;
}

.products article .figure-block .text .description {
    position: relative;
    display: none;
    height: 80px;
    overflow: hidden;
    z-index: 1;
    padding-top: 5px;
}

.products article .figure-block .text .description:after {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    content: "";
    display: block;
    z-index: 2;
}

@media (min-width: 768px) {
    .products article .figure-block .text .description {
        display: block;
    }
}

@media (min-width: 768px) {
    .products.products-category {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .products article .label {
        top: auto;
        bottom: 10px;
        left: 10px;
    }

    .products article sub,
    .products article sup {
        font-size: 80%;
    }

    .products article .figure-grid .text {
        position: absolute;
        padding: 20px 20px 0;
        top: 0;
    }

    .products article .figure-list .image {
        width: 30%;
    }

    .products article .figure-list .text {
        width: 70%;
    }

    .products article .figure-list .text .description {
        display: block;
    }

    .products article .figure-block .text {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .products .row {
        margin: 0;
    }

    .products .container,
    .products .row>div {
        padding-left: 1px;
        padding-right: 1px;
    }

    .products .btn-add {
        display: none;
    }

    #product-sidebar-toggle {
        width: 100% !important;
    }
}

/*  
    ----------------------------------
    11. Scroll to top
    ----------------------------------
*/
/* This element is defined in main.js and gets appended to the bottom of <footer class"navbar-fixed-bottom"> */
.scroll-top {
    visibility: hidden;
    padding: 8px 18px 20px;
    background-color: #2e73bb;
    color: white;
    position: fixed;
    bottom: -15px;
    /* Display Button To The Right */
    left: 95%;
    margin-left: -28px;
    z-index: 999;
    cursor: pointer;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.scroll-top.visible {
    visibility: visible;
    opacity: 1;
}

.scroll-top.active {
    bottom: 15px;
}

.scroll-top:hover {
    background-color: #333;
}

@media (min-width: 768px) {

    .scroll-top:hover,
    .scroll-top.active {
        bottom: 0;
    }
}

/*  
    ----------------------------------
    12. Footer
    ----------------------------------
*/
footer {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    color: #666666;
    background-color: #f1f1f1;
    padding: 20px !important;
    font-size: 85%;
    /* Center the table */
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 768px) {
    footer {
        /* padding: 30px !important; */
    }
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer .h1,
footer .h2,
footer .h3,
footer .h4,
footer .h5,
footer .h6 {
    color: #245a92;
}

footer .form-control {
    background-color: transparent;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #2e73bb;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style-type: none;
    padding: 5px 0;
}

footer a {
    color: #666666;
}

footer a:hover {
    color: #2e73bb;
}


footer .footer-links a {
    display: inline-block;
}

footer .footer-links a:hover {
    -moz-transform: translateX(8px);
    -ms-transform: translateX(8px);
    -o-transform: translateX(8px);
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

@media print {
    footer .footer-links {
        display: none !important;
    }
}

footer .footer-social {
    padding: 10px 0;
    text-align: center;
}

footer .footer-social li {
    display: inline-block;
}

footer .footer-social li a {
    padding: 0 5px;
}

@media (min-width: 992px) {
    footer .footer-social {
        padding: 30px 0;
        text-align: left;
    }

    footer .footer-social .links {
        text-align: right;
    }
}

@media (max-width: 991px) {
    footer .row>div {
        margin-bottom: 30px;
    }

    footer .row>div:last-child {
        margin-bottom: 0;
    }
}


/*  ----------------------------------
    13. Wave Design
    ---------------------------------- */
.wave-container {
    position: relative;
}

.custom-shape-divider-top-1631563670 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1631563670 svg {
    position: relative;
    display: block;
    width: calc(187% + 1.3px);
    height: 61px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1631563670 .shape-fill {
    fill: #4A90E28C;
    opacity: 0.33;
}

/*  ----------------------------------
    14. Search Form
    ---------------------------------- */
.search-label {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .search-input {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .search-input {
        width: 100%;
    }
}

/* iPhone X Fix */
@media (max-width: 375px) {
    .search-label {
        width: 100%;
    }

    .search-input {
        width: 100% !important;
    }
}

/* IPhone 6/7/8 Fix */
@media (max-width: 414px) {
    .search-label {
        width: 100%;
    }

    .search-input {
        width: 100% !important;
    }
}

/*  ----------------------------------
    15. Weather Cards
    ---------------------------------- */
.todays-icon {
    width:50px;
    height: 50px;
}
.todays-forecast-container {
    margin-bottom: 15px;
    margin-right: 0;
}

.todays-forecast-container ul {
    list-style: none;
    padding-left: 0;
}

.weather-card-container {
    margin-bottom: 15px !important;
}

.weather-card {
    width: 19%;
    float: left;
    background-color: #2e73bb;
    color: white;
    margin:3px;
}

.weather-card ul {
    list-style: none;
    padding-left: 0;
}

/*  ----------------------------------
    16. MEDIA QUERIES
    ---------------------------------- */

/* MOBILE -- LARGE */
@media (max-width: 425px) {
    .weather-card {
        width:100%;
    }
    #sidebar-status {
        overflow: visible;
    }
    .filters {
        display: contents;
        width: 100%;
    }
}

/* TABLET -- VERTICAL */
@media (max-width: 768px) {
    .weather-card {
        width:100%;
    }
    #sidebar-status {
        overflow: visible;
    }
    .filters {
        display: contents;
        width: 100%;
    }
}

/*  ----------------------------------
    17. OTHER
    ---------------------------------- */
